
    

img{
    border-radius: 4px;
    background-color: bisque;
    
}

    
.row{
    display: flex;
    align-items: flex-end;
    margin-top: 250px;
    justify-content: center ;
    
}


.card{
    background-color: bisque;
    box-shadow: 10px 10px 10px 5px black;

}
.card:hover{
    
        transform : translateY(-5px) scale(1.100) translateZ(00);
        
}

.card-footer{
    background-color: bisque;
    
}
.card-title{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.card-text{
        text-align: center;
}